[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"

[packages]
certifi = "*"
chardet = "*"
idna = "*"
python-decouple = "*"
requests = "*"
six = "*"
urllib3 = "*"
pyTelegramBotAPI = "*"
selenium = "*"

[requires]
python_version = "3.8"
